<%= form_with(model: update, local: true) do |form| %>
  <% if update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="field">
    <%= form.label :uname %>
    <%= form.text_field :uname %>
  </div>

  <div class="field">
    <%= form.label :updated_on %>
    <%= form.datetime_select :updated_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
