<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @update.comments %>
</p>

<p>
  <strong>Uname:</strong>
  <%= @update.uname %>
</p>

<p>
  <strong>Updated on:</strong>
  <%= @update.updated_on %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
